.main-navbar {
    display: flex;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 3;

    .navbar-items {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1000px;
        min-width: 500px;
    }
}